.Dashboard {
    .grid-item {
        display: block;
        overflow: hidden;
        width: 300px;
        max-height: 300px;
        margin: 5px;

        resize: both;

        border: 1px solid #000;
    }
    
    .packery-drop-placeholder {
        outline: 3px dashed #444;
        outline-offset: -15px;
        
        transition: transform 0.2s;
    }
}