.PanelLayout {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    .main {
        width: 75%;
        margin-right: 15px;
    }
    .side {
        width: 25%;
    }
 }